.center-text {
    text-align: center;    
}
.container {
    height: 100px;
    background: lightgray;
    display: flex;
}
.blue {
    background-color: blue;
    flex: 1;
}
.green {
    background: green;
    flex: 1;
}
.orange {
    background: orange;
    flex: 1;
}
