    .box {
        width: 100px;
        height: 100px;
    }
    .boxblue {
        background: blue; 
    }
    .boxgreen {
        background: green; 
    }
    .boxorange {
        background: orange; 
    }
    .container {
        background: lightgray;
    }