    .box1 {
        width: 100px;
        height: 100px;
        background: blue; 
    }
    .box2 {
        width: 100px;
        height: 100px;
        background: green; 
    }
    .box3 {
        width: 100px;
        height: 100px;
        background: orange; 
    }
    .container {
        background: lightgray;
    }
